
@{
    ViewData["Title"] = "TempDataSecondSample";

    string msg = TempData["Msg"].ToString();
    string wetter = TempData["Wetter"].ToString();
    TempData.Keep();
}

<h1>TempDataSecondSample</h1>

@msg
<br />
@wetter