@using MVCWithViewModelsAndEFCore.ViewModel;
@model PlaceVM

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Animals[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animals[0].Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Animals)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

            </tr>
        }
    </tbody>
</table>


@if (User.Identity.IsAuthenticated)
{ 
    //Ausgabe1

}
else
{
    //Ausgabe2
}
